<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Mi plantilla vacia!!!
    {% if len_nombre < 5 %}
        <p Style="color: red;">{{nombre}}</p>
        <p Style="color: blue;">{{apellido}}</p>
    {% elif len_nombre == 5 %}
        <p Style="color: blue;">{{nombre}}</p>
        <p Style="color: red;">{{apellido}}</p>
    {% else %}
        <p Style="color: green;">{{nombre}}</p>
        <p Style="color: green;">{{apellido}}</p>
    {% endif %}

    {% for  valor in lista %}
    <p Style="color: green;">{{valor}}</p>
    {% endfor %}
</body>
</html>